<form action="/admin" method="post">
    <h2 class="adminTitle">You have an admin credentials.<br>You can add new posts!</h2>
    <div class="form-group">
        <label for="title" class="label">Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Post title.." required>
    </div>
    <div class="form-group">
        <label for="author" class="label">Author:</label>
        <input type="text" class="form-control" id="author" placeholder="Author name.." name="author" required>
    </div>
    <div class="form-group">
        <label for="text" class="label">Message:</label>
        <textarea
                autocomplete="off"
                data-gramm_editor="false"
                class="form-control"
                rows="10"
                id="text"
                name="text"
                placeholder="Message.."
                required
        ></textarea>
    </div>
    <div class="buttonHolder">
        <button type="submit" class="btn btn-primary submitButton">Post</button>
    </div>
</form>
