<div class="post" id="p<%= post.id %>">
    <h3><%= post.title %></h3>
    <div class="text-handler">
        <%= post.body %>
    </div>
    <i class=".post-author">Author: <%= post.author %></i>
</div>
