body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("https://ak6.picdn.net/shutterstock/videos/3218836/thumb/1.jpg");
    background-size: cover;
}

a {
    color: #00B7FF;
}

.liink {
    color: indigo;
}

.table {
    border-radius: 20px;
    background: #00B7FF30;
}

.post-container {
    width: 100%;
}

.post-container .post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px 5px 15px;
    border-bottom: 1px solid #37a939;
    margin-bottom: 20px;
}

.post:hover {
    background-color: rgba(222, 230, 240, 0.2);
}

.post-container .post .text-handler {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-container .post i {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

.post {
    box-shadow: #00B7FF 3px 1px 10px;
    background-color: aliceblue;
}

.post-author {
    width: 100%;
    text-align: right;
}

textarea {
    resize: none;
}

.form-handler {
    width: 1px;
}

.vertical {
    /*!important;*/
    display: inline;
    width: 4px;
    height: 100%;
    background-color: #00B7FF;
    border-left:1px solid #38546d;
    border-right:1px solid #16222c;
    /*height:80px;*/
    /*position:absolute;*/
    /*right:249px;*/
    /*top:10px;*/
}
